{% assign experiences = site.data.data.books %}
{% if experiences %}
<div id="books-section"></div>
<section class="section books-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fa-solid fa-circle fa-stack-2x"></i>
      <i class="fa-solid fa-book fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>

  {% for experience in experiences.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <div class="wordwrap"><a href="{{ experience.link }}" target="_blank"><h3 class="job-title">{{ experience.role }}</h3></a></div>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}