<div id=latest-section></div>
<br>
<section class="section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
    </span>
    Latest Developments
  </h2>
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
        <br>
        <div class="card" style="max-width: 18.5rem; min-height: 400px">
            <a href="https://cspdata.com" target="_blank"><img class="card-img-top" src="assets/images/csp_data_thumb.png" alt="CSP Data"></a>
            <div class="card-body" style="text-align: justify; text-justify: inter-word;">
              <h5 class="card-title">CSP Data</h5>
              <p class="card-text">Detailed information with filtering and exporting capabilities about all commercial concentrating solar thermal power plant around the world.</p>
              <a href="https://cspdata.com" class="card-link" target="_blank">Visit website</a>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <br>
        <div class="card" style="max-width: 18.5rem; min-height: 400px">
            <a href="http://mixspain.psa.es" target="_blank"><img class="card-img-top" src="assets/images/mix_spain_thumb.png" alt="Electricity Mix Optimization"></a>
            <div class="card-body" style="text-align: justify; text-justify: inter-word;">
              <h5 class="card-title">Electricity Mix Optimization</h5>
              <p class="card-text">Spanish electricity mix multi-objective optimizations for 2030, 2040 and 2050 based on real historical data and artificial intelligence.</p>
              <a href="http://doi.org/10.1016/j.energy.2021.122437" class="card-link" target="_blank">Read publication</a>
              <a href="http://mixspain.psa.es" class="card-link" target="_blank">Visit website</a>
            </div>
        </div>

    </div>
  </div>   
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
        <br>
        <div class="card" style="max-width: 18.5rem; min-height: 450px">
            <a href="https://https://ptc-performance.web.app" target="_blank"><img class="card-img-top" src="assets/images/ptc_performance_thumb.png" alt="Parabolic trough collector (PTC) power plant performance"></a>
            <div class="card-body" style="text-align: justify; text-justify: inter-word;">
              <h5 class="card-title">Parabolic trough collector (PTC) power plant performance</h5>
              <p class="card-text">Performance estimation of a 50 MW PTC power plant with 8 hours of thermal energy storage in any location around the world.</p>
              <a href="https://ptc-performance.web.app" class="card-link" target="_blank">Visit website</a>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <br>
        <div class="card" style="max-width: 18.5rem; min-height: 450px">
            <video width="100%" x-webkit-airplay="allow" poster="assets/images/smart_heliostat.jpg" controls>
                <source src="assets/images/smart_heliostat.mp4" type="video/mp4">
                Your browser does not support video.
            </video>
            <div class="card-body" style="text-align: justify; text-justify: inter-word;">
              <h5 class="card-title">Smart Heliostat</h5>
              <p class="card-text">Since current tracking systems have limitations regarding costs and operational issues, a new approach based on low cost, computer vision, open hardware and deep learning is being developed.</p>
              <a href="http://doi.org/10.1016/j.renene.2018.08.101" class="card-link" target="_blank">Read publication</a>
              <a href="https://e1.pcloud.link/publink/show?code=XZvHzLZEBsqGWzTYJmHn0MDymlsgSSUrs07" class="card-link" target="_blank">Watch video</a>
            </div>
        </div>
    </div>
  </div> 
  </div>  
  
</section><!--//section-->