<style> 
    ul { padding-left: 0px; }
    table {border: none;}
</style>
<div id=overview-section></div>
<br>
<section class="section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-list-ul fa-stack-1x fa-inverse"></i>
    </span>
    Scientific Production Overview
  </h2>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">2010 - 2024</th>
        <th scope="col" class="text-center">h-index</th>
        <th scope="col" class="text-center">Cites</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="align-middle"><a href="https://www.scopus.com/authid/detail.uri?authorId=36600013500" target="_blank">Elsevier Scopus</a></th>
        <td class="align-middle; text-center"><h5><font color="#4080bf">
          <a href="https://www.scopus.com/authid/detail.uri?authorId=36600013500" target="_blank">
          13
          </a>
        </font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">
          <a href="https://www.scopus.com/authid/detail.uri?authorId=36600013500" target="_blank">
          551
          </a>
        </font></h5></td>
      </tr>
      <tr>
        <th scope="row" class="align-middle"><a href="https://scholar.google.es/citations?user=V6dkjUUAAAAJ" target="_blank">Google Scholar</a></th>
        <td class="align-middle; text-center"><h5><font color="#4080bf">
          <a href="https://scholar.google.es/citations?user=V6dkjUUAAAAJ" target="_blank">
          17
          </a>
        </font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">
          <a href="https://scholar.google.es/citations?user=V6dkjUUAAAAJ" target="_blank">
          900
          </a>
        </font></h5></td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" colspan="5"><center><h6>Scientific Publications</h6></center>
        <h7><center>First Scopus Topic: <font color="#4080bf">Solar Power Plants & Solar Thermal Energy</font></h7></center></th>
      </tr>      
      <tr>
        <th scope="col" class="text-center">Q1</th>
        <th scope="col" class="text-center">Q2</th>
        <th scope="col" class="text-center">Q3</th>
        <th scope="col" class="text-center">Q4</th>
        <th scope="col" class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle; text-center"><h5><font color="#4080bf">17</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">9</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">1</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">2</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">29</font></h5></td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Conferences</th>
        <th scope="col" class="text-center">Oral Presentation</th>
        <th scope="col" class="text-center">Poster</th>
        <th scope="col" class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="align-middle">International</th>
        <td class="align-middle; text-center"><h5><font color="#4080bf">21</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">10</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">31</font></h5></td>
      </tr>
      <tr>
        <th scope="row" class="align-middle">National</th>
        <td class="align-middle; text-center"><h5><font color="#4080bf">1</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">9</font></h5></td>
        <td class="align-middle; text-center"><h5><font color="#4080bf">10</font></h5></td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div style="clear: both"><h6 style="float: left; margin-top: 4px">Direction of PhD Students:</h6> <h5 style="float: right; margin-right: 20px"><font color="#4080bf">2</font></h5></div>
        <div style="clear: both"><h6 style="float: left; margin-top: 4px">Invited Presentations:</h6> <h5 style="float: right; margin-right: 20px"><font color="#4080bf">7</font></h5></div>
        <div style="clear: both"><h6 style="float: left; margin-top: 4px">Intellectural Property:</h6> <h5 style="float: right; margin-right: 20px"><font color="#4080bf">1</font></h5></div>
      </div>
    
      <div class="col-sm-6">
        <div style="clear: both"><h6 style="float: left; margin-top: 4px">Direction of Final Grade Projects:</h6> <h5 style="float: right; margin-right: 20px"><font color="#4080bf">1</font></h5></div>
        <div style="clear: both"><h6 style="float: left; margin-top: 4px">Books:</h6> <h5 style="float: right; margin-right: 20px"><font color="#4080bf">2</font></h5></div>
        <div style="clear: both"><h6 style="float: left; margin-top: 4px">Doctoral colloquiums:</h6> <h5 style="float: right; margin-right: 20px"><font color="#4080bf">2</font></h5></div>
      </div>
    </div>
  </div>



</section><!--//section-->