{% assign data = include.data %}
{% if data %}
<div id={{include.id}}></div>
<br>
<section class="section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas {{include.icon}} fa-stack-1x fa-inverse"></i>
    </span>
    {{ data.title }}
  </h2>

  {% if data.intro %}
  <div class="intro">
    {{ data.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for item in data.items %}
  <div class="item" style="padding-bottom: 10px;">
    <div class="meta">
      <div class="container">
        <div class="row">
        {% if item.img %}
          <div class="col-2 d-flex align-items-center justify-content-center" style="padding: 0 !important;">
            <div>
              <a href="{{ item.link }}" title="{{ item.img_title }}" target="_blank">
                <img class="image rounded img-fluid" src="{{ item.img }}" alt="Journal image">
              </a>
            </div>
          </div>
        {% endif %}
    {% if item.img %}
      <div class= "col-10 d-flex align-items-center justify-content-left">
    {% else %}
      <div class= "col-12 align-items-center justify-content-left">
    {% endif %}
    <div class="upper-row">
        <div class="{{include.wordwrap}}">
          {% if item.link %}
            <a class="item-title" href="{{ item.link }}" target="_blank">{{ item.title }}</a>
          {% else %}
            <span class="item-title {{include.wordwrap}}">{{ item.title }}</span>
          {% endif %}
        </div>
        <div class="time">{{ item.time }}</div>
        <div class="item-authors">{{ item.authors }}</div>
        <div class="item-details" style="margin-bottom: -20px">{{ item.details | markdownify }}</div>
      </div>
    </div>
    </div>
    </div>
    </div><!--//meta-->    
  </div><!--//item-->
  {% endfor %}


</section><!--//section-->
{% endif %}