{% assign data = include.data %}
{% if data %}
<div id={{include.id}}></div>
<section class="section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas {{include.icon}} fa-stack-1x fa-inverse"></i>
    </span>
    {{ data.title }}
  </h2>

  {% if data.intro %}
  <div class="intro">
    {{ data.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for item in data.items %}
  <div class="item">
    <div class="meta">
    <div class="upper-row">
        <div class="{{include.wordwrap}}">
          {% if item.link %}
            <a class="item-title" href="{{ item.link }}" target="_blank">{{ item.title }}</a>
          {% else %}
            <span class="item-title {{include.wordwrap}}">{{ item.title }}</span>
          {% endif %}
        </div>
        <div class="time">{{ item.time }}</div>
    </div>        
    <div class="item-authors">{{ item.authors }}</div>
    </div><!--//meta-->    
    <div class="item-details">{{ item.details | markdownify }}</div>
  </div><!--//item-->
  {% endfor %}


</section><!--//section-->
{% endif %}